<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Price Check Tool</title>
    <!--<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>-->
    <!--<title>WebJars Demo</title>-->
    <!--<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />-->

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />

    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <!--<link href="https://cdn.bootcss.com/avalon.js/2.0s/avalon.js" rel="stylesheet">-->
    <script src="https://cdn.bootcss.com/avalon.js/2.0s/avalon.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/window.css}">
    <script src="/window.js"></script>

    <style type="text/css">
        .mask {
                position: absolute; top: 0px; filter: alpha(opacity=60); background-color: #777;
                z-index: 1002; left: 0px;
                opacity:0.5; -moz-opacity:0.5;
            }
    </style>
    <script>
        function deleInput(obj){
            var id = obj.id;
            $("#"+id).remove();
            vm.globle--;
            <!--vm.globleId&#45;&#45;;-->
        }
    </script>

    <script>
        var viewmodel = avalon.define({
            //id必须和页面上定义的ms-controller名字相同，否则无法控制页面
            $id: "viewmodel",
            name:'',
            c:"",
            datalist: {},
            pfId:"",
            text: "GET",
            trClick: function(obj){
                viewmodel.pfId = obj.pfId;
                $("#h3").removeAttr("hidden");
            },
            request: function () {
                $("#mask").css("height",$(document).height());
                $("#mask").css("width",$(document).width());
                $("#mask").show();
                $.ajax({
                    type: "post",
                    data: {name: viewmodel.name},
                    url: "/getProductInfo",
                    success: function (data) {
                        $("#mask").hide();
                        if(data.code==1){
                            win.alert("",data.message);
                            // alert(data.message);
                            return;
                        }
                        if(data.object.length==0){
                            $('.btn-primary').removeClass("btn-primary").addClass("btn-danger");
                            viewmodel.text = "Nothing!";
                            // style="display: none"
                            $("#table1").attr("style","display: none");
                            viewmodel.datalist = data.object;
                            return;
                        }
                            $('.btn-primary').removeClass("btn-primary").addClass("btn-success");
                            $("#table1").removeAttr("style");
                            $("#table1").removeAttr("hidden");
                            viewmodel.datalist = data.object;
                            viewmodel.text = "SUCCESS";

                    }
                });
            }
        });
    </script>
    <script>
            var vm = avalon.define({
                $id: "result",
                url: "https://godaddy.com/",
                resultButton: "RESULT",
                datalist1: {},
                globleId: 0,
                globle: 0,
                click1: function(){
                    $("#APAC").removeAttr("hidden");
                },
                click2: function(){
                    $("#Canada").removeAttr("hidden");
                },
                click3: function(){
                    $("#EMEA").removeAttr("hidden");
                },
                click4: function(){
                    $("#LatAm").removeAttr("hidden");
                },
                click5: function(){
                    $("#UnitedStates").removeAttr("hidden");
                },
                <!--removeInput: function(){-->
                    <!--alert(vm.globleId);-->
                    <!--var div = "div"+vm.globleId;-->
                    <!--alert(div);-->
                    <!--$("#"+div).remove();-->
                    <!--vm.globleId&#45;&#45;;-->
                <!--},-->
                addInput: function(){
                    var globleId = vm.globleId+1;
                    var div = "div"+globleId;
                     <!--ms-controller=\"aa\"-->
                    $("#baseDiv").append("<div id="+div+" >\n" +
                "                            <label>Page"+globleId+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>\n" +
                "                            <input ms-duplex=\"@url\" name=\"url\"    type=\"url\" class=\"form-control\"  style=\"width: 455px\"/><br>\n" +
                "                            <label>saleXpath"+globleId+"&nbsp;</label>\n" +
                "                            <input ms-duplex=\"@saleXpath\" name=\"saleXpath\"   type=\"url\" class=\"form-control\"  style=\"width: 750px\"/><br>\n" +
                "                            <label>listXpath"+globleId+"&nbsp;&nbsp;</label>\n" +
                "                            <input ms-duplex=\"@listXpath\"  name=\"listXpath\"   type=\"url\" class=\"form-control\"  style=\"width: 750px\"/>\n" +
                "                            <button type=\"button\" class=\"btn btn-danger\" style=\"margin: 10px;\" onclick=\"deleInput(this)\" id="+div+">X</button>\n" +
                "                    </div>");
                vm.globleId = vm.globleId+1;
                vm.globle = vm.globle + 1;

                },
                listXpath: "",
                saleXpath: "",
                market: [],
                markets1:['en-AU','en-IN','en-PH','en-SG','zh-CN','zh-HK','en-HK','id-ID','ja-JP','ko-KR','th-TH','vi-VN','zh-SG','zh-TW','hi-IN','ta-IN','mr-IN','en-MY','en-NZ'],
                markets2:['fr-CA','en-CA'],
                markets3:['en-GB','en-ZA','es-ES','de-DE','fr-FR','it-IT','tr-TR','nl-NL','da-DK','fi-FI','el-GR','nb-NO','pl-PL','sv-SE','pt-PT','de-AT','fr-BE','de-CH','fr-CH','it-CH','nl-BE','uk-UA','en-AE','en-IL','en-PK','en-IE'],
                markets4:['pt-BR','pt-BR','es-CL','es-CO','es-CO','es-MX','es-PE','es-VE'],
                markets5:['es-US','en-US'],
                select_all_cb: function(){
                    var list = vm.markets1;
                    var mar = vm.market;
                    alert(list);
                    alert(mar);
                    alert(this.checked);
                    if(this.checked){
                        alert("if");
                        avalon.each(list,function(i,v){//循环保存着已经勾选选框的数据
                            mar.ensure(v);//如果里面没有当前选框的数据，就保存
                        });
                    } else{
                        alert("else");
                        avalon.each(list,function(i,v){//循环保存着已经勾选选框的数据
                            mar.ensure(v);//如果里面没有当前选框的数据，就保存
                        });
                        alert(mar);
                        <!--mar.clear();//清空-->
                    }
                },
                result: function (){
                    <!--alert("动态添加表头");-->
                    <!--for(int i = 1; i<= vm.globle; i++){-->

                    <!--}-->
                    <!--$("#mask").css("height",$(document).height());-->
                    <!--$("#mask").css("width",$(document).width());-->
                    <!--$("#mask").show();-->
                    <!--$.ajax({-->
                        <!--type:"post",-->
                        <!--data: {url: vm.url,pfId: viewmodel.pfId,markets:vm.market.toString(),listXpath:vm.listXpath,saleXpath:vm.saleXpath},-->
                        <!--url:"/getResult",-->
                        <!--success: function(data){-->
                            <!--$("#mask").hide();-->
                            <!--if(data.code == 1){-->
                                <!--win.alert("",data.message);-->
                            <!--} else {-->
                                <!--$("#table1").attr("hidden", "hidden");-->
                                <!--$("#table2").removeAttr("hidden");-->
                                <!--vm.datalist1 = data.object;-->
                            <!--}-->
                        <!--}-->
                    <!--});-->
                }
            })
    </script>

    <script>
        function ajaxForm(){
            var options = {
              type: 'post',
              dataType: 'json',
              url:  "/getResult",
              data: {pfId: viewmodel.pfId,markets:vm.market.toString()},
              success: function(data){
                            $("#mask").hide();
                            if(data.code == 1){
                                win.alert("",data.message);
                            } else {
                                $("#table1").attr("hidden", "hidden");
                                $("#table2").removeAttr("hidden");
                                <!--vm.datalist1 = data.object;-->

                                var formdata='[{"number":1,"title":"4403070060020100016000007","groupNames":"龙岗区-龙岗街道-龙岗社区-龙岗01","status":"未完成"},{"number":2,"title":"4403070060020100016000008","groupNames":"龙岗区-龙岗街道-龙岗社区-龙岗01","status":"未完成"}]';
                                var msg = data.object;
                                alert(data.object);
                                var formData = JSON.parse(formdata);
                                $("#table2").bootstrapTable({
                                    columns: msg   ,//动态取标题
                                    data:formData
                                });

                            }
                        }
            };
            $("#mask").css("height",$(document).height());
                    $("#mask").css("width",$(document).width());
                    $("#mask").show();
            $("#ajaxForm").ajaxSubmit(options);
        }

        <!--var options = {-->
          <!--type: 'post',-->
          <!--dataType: 'json',  url:  s.update_contact_path-->
        <!--};-->

        <!--$("#ajaxForm").submit(function() {-->
          <!--alert("ajax提交方式");-->
          <!--$(this).ajaxSubmit(options);-->
          <!--return false;-->
        <!--});-->
    </script>
</head>

<body   ms-controller="result">
<!--<div class="container"><br/>-->
    <!--<div class="alert alert-success">-->
        <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>-->
        <!--Hello, <strong>tao!</strong>-->
    <!--</div>-->
<!--</div>-->
<div id="mask" class="mask"></div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2 class="text-center text-success">
                Price Check Tool
            </h2>
            <!--<div class="progress">-->
                <!--<div class="progress-bar progress-success">-->
                <!--</div>-->
            <!--</div>-->
            <div class="btn-group">
                <button class="btn btn-default">Markets</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                <!--<input type="checkbox" id="allMarket"  class="awesome"/><label for="allMarket">All</label>-->
                <ul class="dropdown-menu">
                    <li>
                        <!--<a href="#">Group1</a>-->
                        <button type="button" class="btn btn-primary" style="margin: 10px;" ms-click="@click1">APAC</button>
                        <!--<input type='checkbox' ms-click="@select_all_cb" >全选-->
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" style="margin: 10px;" ms-click="@click2">Canada</button>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" style="margin: 10px;" ms-click="@click3">EMEA</button>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" style="margin: 10px;" ms-click="@click4">LatAm</button>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" style="margin: 10px;" ms-click="@click5">United States</button>
                    </li>
                </ul>
            </div>
            <!--<div  >-->
            <!--<input ms-duplex="@market" type="checkbox"  id="4" class="awesome" value="us"/><label for="4">eb-us</label>-->
            <!--<input ms-duplex="@market" type="checkbox"  id="5" class="awesome" /><label for="5">en-ua</label>-->
            <!--<input ms-duplex="@market" type="checkbox"  id="6" class="awesome" /><label for="6">en-au</label>-->
            <!--<p>{{@market}}</p>-->
            <!--</div>-->
            <div id="APAC" hidden="hidden" class="col-md-12 column">
                <div>
                    <!--<input type="checkbox" id="checkbox1" class="awesome"/>-->
                    <!--<label for="checkbox1">AAAAAAAAAA</label>-->
                    <label ms-for="el in @markets1">
                        <input type="checkbox" ms-attr="{value:el}" ms-duplex="@market" />{{el}}
                    </label>
                </div>
            </div>
            <div id="Canada" hidden="hidden" class="col-md-12 column">
                <div>
                    <label ms-for="el in @markets2">
                        <input type="checkbox" ms-attr="{value:el}" ms-duplex="@market"> {{el}}
                    </label>
                </div>
            </div>
            <div id="EMEA" hidden="hidden" class="col-md-12 column">
                <div>
                    <label ms-for="el in @markets3">
                        <input type="checkbox" ms-attr="{value:el}" ms-duplex="@market"> {{el}}
                    </label>
                </div>
            </div>
            <div id="LatAm" hidden="hidden" class="col-md-12 column">
                <div>
                    <label ms-for="el in @markets4">
                        <input type="checkbox" ms-attr="{value:el}" ms-duplex="@market"> {{el}}
                    </label>
                </div>
            </div>
            <div id="UnitedStates" hidden="hidden" class="col-md-12 column">
                <div>
                    <label ms-for="el in @markets5">
                        <input type="checkbox" ms-attr="{value:el}" ms-duplex="@market"> {{el}}
                    </label>
                </div>
            </div>
            <div ms-controller="viewmodel">
                <form role="form" class="form-inline" id="ajaxForm">
                    <div>
                        <label>product name&nbsp;</label>
                        <input ms-duplex="@name" type="text"  class="form-control" style="width: 425px"/>
                        <button type="button" class="btn btn-primary" style="margin: 1px;" ms-click="@request">{{@text}}</button>
                    </div>
                    <div  id="baseDiv" ms-controller="appendMs">
                        <div>
                            <label>Page&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input ms-duplex="@url" name="url"    type="url" class="form-control"  style="width: 455px"/>
                            <button type="button" class="btn btn-primary" style="margin: 10px;" ms-click="@addInput">+</button>
                            <!--<button type="button" class="btn btn-danger" style="margin: 10px;" ms-click="@removeInput">X</button>-->
                            <!--<button type="button" class="btn btn-success" style="margin: 1px;"  ms-click="@result">{{@resultButton}}</button>-->
                            <button type="button" class="btn btn-success" style="margin: 1px;" onclick="ajaxForm();" ms-click="@result">{{@resultButton}}</button>
                        </div>
                        <div>
                            <label>saleXpath&nbsp;</label>
                            <input ms-duplex="@saleXpath" name="saleXpath"    type="url" class="form-control"  style="width: 750px"/>
                        </div>
                        <div>
                            <label>listXpath&nbsp;&nbsp;</label>
                            <input ms-duplex="@listXpath" name="listXpath"   type="url" class="form-control"  style="width: 750px"/>
                        </div>
                    </div>
                    <div>
                        <h2 style="color:red" hidden="hidden" id="h3">pfId:{{@pfId}}   market：{{@market}}</h2>
                    </div>
                </form>

                <table class="table table-striped" id="table1" hidden="hidden">
                    <thead>
                    <tr>
                        <td class="danger"><font size="3"><strong>pfId</strong></font></td>
                        <td class="info"><font size="3"><strong>name</strong></font></td>
                        <td class="info"><font size="3"><strong>description1</strong></font></td>
                        <td class="info"><font size="3"><strong>description2</strong></font></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-for="el in @datalist" ms-click="@trClick(el)">
                        <td class="danger">{{el.pfId}}</td>
                        <td class="info">{{el.name}}</td>
                        <td class="info">{{el.description1}}</td>
                        <td class="info">{{el.description2}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <!--<ul class="pagination">-->
                <!--<li>-->
                    <!--<a href="#">Prev</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">1</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">2</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">3</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">4</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">5</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Next</a>-->
                <!--</li>-->
            <!--</ul>-->
            <form role="form" class="form-inline">
                <div class="col-md-12 column">
                    <table class="table table-striped" id="table2" hidden="hidden">
                        <!--<thead>-->
                        <!--<tr id="trId">-->
                            <!--<td class="danger"><font size="3"><strong>Fail market</strong></font></td>-->
                            <!--<td class="danger"><font size="3"><strong>sqlSalePrice</strong></font></td>-->
                            <!--<td class="danger"><font size="3"><strong>sqlListPrice</strong></font></td>-->
                            <!--<td class="danger"><font size="3"><strong>pageSalePrice</strong></font></td>-->
                            <!--<td class="danger"><font size="3"><strong>pageListPrice</strong></font></td>-->

                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr ms-for="el in @datalist1">-->
                            <!--<td class="danger">{{el.market}}</td>-->
                            <!--<td class="danger">{{el.sqlSalePrice}}</td>-->
                            <!--<td class="danger">{{el.sqlListPrice}}</td>-->
                            <!--<td class="danger">{{el.pageSalePrice}}</td>-->
                            <!--<td class="danger">{{el.pageListPrice}}</td>-->

                        <!--</tr>-->
                        <!--</tbody>-->
                    </table>
                </div>

            </form>

            <h4 class="text-center">
                <small><cite>Please contact the administrator if you have any questions</cite></small>
            </h4>
            <h4 class="text-center">
                <small><cite>email:gtao@godaddy.com</cite></small>
            </h4>
            <h4 class="text-center">
                <small><cite>tao</cite></small>
            </h4>
        </div>
    </div>
</div>
</body>
</html>