<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Price Check Tool</title>
    <!--<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>-->
    <!--<title>WebJars Demo</title>-->
    <!--<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />-->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <!--<link href="https://cdn.bootcss.com/avalon.js/2.0s/avalon.js" rel="stylesheet">-->
    <script src="https://cdn.bootcss.com/avalon.js/2.0s/avalon.js"></script>

    <!-- Bootstrap -->
    <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
    <script>
        var viewmodel = avalon.define({
            //id必须和页面上定义的ms-controller名字相同，否则无法控制页面
            $id: "viewmodel",
            datalist: {},
            text: "请求数据",
            request: function () {
                $.ajax({
                    type: "post",
                    url: "/getMarket",    //向后端请求数据的url
                    data: {},
                    success: function (data) {
                        //$('button').removeClass("btn-primary").addClass("btn-success").attr('disabled', true);
                        viewmodel.datalist = data;
                        viewmodel.text = "数据请求成功，已渲染";
                    }
                });
            }
        });
    </script>
    <script>
            var vm = avalon.define({
                $id: "test",
                name: "",
                request1: function (){
                    $.ajax({
                        type:"post",
                        url:"/getMarket",
                        success: function(data){
                        alert(data[0].usd);
                            vm.name=data[0].usd;
                        }
                    });
                }
            })
    </script>
</head>

<body ms-controller="viewmodel">
<div class="container"><br/>
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        Hello, <strong>tao!</strong>
    </div>
</div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2 class="text-center text-success">
                Price Check Tool
            </h2>
            <div class="btn-group">
                <button class="btn btn-default">Action</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">操作</a>
                    </li>
                    <li class="disabled">
                        <a href="#">另一操作</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">其它</a>
                    </li>
                </ul>
            </div>
            <form role="form" class="form-inline">
                <div class="form-group"  ms-controller="test">
                    <label>url address &nbsp;&nbsp;&nbsp;</label><input ms-duplex="@name"   type="url" class="form-control"  style="width: 350px"/>
                    <button type="button" class="btn btn-default" ms-click="@request1">查看价格</button>
                    <span>{{@name}}</span>
                </div><br>
                <div class="form-group" ms-controller="test">
                    <label>product name</label><input type="text" class="form-control" style="width: 350px"/>
                    <button type="submit"  class="btn btn-default">提交</button>
                </div>

            </form>
            <div class="progress">
                <div class="progress-bar progress-success">
                </div>
            </div>
            <button type="button" class="btn btn-primary" style="margin: 10px;" ms-click="@request">{{@text}}</button>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td class="success"><font size="3"><strong>id</strong></font></td>
                    <td class="success"><font size="3"><strong>usd</strong></font></td>
                    <td class="success"><font size="3"><strong>market</strong></font></td>
                    <td class="success"><font size="3"><strong>description</strong></font></td>
                    <td class="success"><font size="3"><strong>description2</strong></font></td>
                </tr>
                </thead>
                <tbody>
                <tr ms-for="el in @datalist">
                    <td class="active">{{el.id}}</td>
                    <td class="success">{{el.usd}}</td>
                    <td class="warning">{{el.market}}</td>
                    <td class="danger">{{el.description}}</td>
                    <td class="info">{{el.description2}}</td>
                </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li>
                    <a href="#">Prev</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
            <blockquote>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                </p> <small>Someone famous <cite>Source Title</cite></small>
            </blockquote>
            <h4 class="text-center">
                <small><cite>Please contact the administrator if you have any questions</cite></small>
            </h4>
            <h4 class="text-center">
                <small><cite>email:gtao@godaddy.com</cite></small>
            </h4>
            <h4 class="text-center">
                <small><cite>tao</cite></small>
            </h4>
        </div>
    </div>
</div>
</body>
</html>