<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Price Check Tool</title>
    <!--<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>-->
    <!--<title>WebJars Demo</title>-->
    <!--<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />-->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <!--<link href="https://cdn.bootcss.com/avalon.js/2.0s/avalon.js" rel="stylesheet">-->
    <script src="https://cdn.bootcss.com/avalon.js/2.0s/avalon.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/window.css}">
    <script src="/window.js"></script>
    <script>
        var viewmodel = avalon.define({
            //id必须和页面上定义的ms-controller名字相同，否则无法控制页面
            $id: "viewmodel",
            name:'',
            c:"",
            datalist: {},
            pfId:"",
            text: "请求数据",
            trClick: function(obj){
                viewmodel.pfId = obj.pfId;
                $("#h3").removeAttr("hidden");
            },
            request: function () {
                $.ajax({
                    type: "post",
                    data: {name: viewmodel.name},
                    url: "/getProductInfo",
                    success: function (data) {
                        $('.btn-primary').removeClass("btn-primary").addClass("btn-success");
                        if(data.code==1){
                            win.alert("",data.message);
                            // alert(data.message);
                            return;
                        }
                        if(data.object.length==0){
                            viewmodel.text = "暂无数据";
                            // style="display: none"
                            $("#table1").attr("style","display: none");
                            viewmodel.datalist = data.object;
                            return;
                        }
                            $("#table1").removeAttr("style");
                            $("#table1").removeAttr("hidden");
                            viewmodel.datalist = data.object;
                            viewmodel.text = "数据请求成功，已渲染";

                    }
                });
            }
        });
    </script>
    <script>
            var vm = avalon.define({
                $id: "result",
                url: "https://godaddy.com/",
                resultButton: "比较结果",
                datalist1: {},
                click1: function(){
                    $("#group1").removeAttr("hidden");
                },
                click2: function(){
                    $("#group2").removeAttr("hidden");
                },
                click3: function(){
                    $("#group3").removeAttr("hidden");
                },
                listXpath: "",
                saleXpath: "",
                market: [],
                markets1:['en-US','en-AE','es-AR','fr-CA','de-CH','fr-CH','it-CH','es-CL','zh-Hans-CN','es-CO','cs-CZ','de-DE'],
                markets2:['de-AT','en-AU','fr-BE','da-DK','ar-EG','en-EG','es-ES','fi-FI','fr-FR','el-GR','en-HK','hu-HU'],
                markets3:['nl-BE','pt-BR','en-CA','en-ZA','en-US','vi-VN','es-VE','en-GB','uk-UA','zh-TW','tr-TR','en-GB'],
                result: function (){
                    $.ajax({
                        type:"post",
                        data: {url: vm.url,pfId: viewmodel.pfId,markets:vm.market.toString(),listXpath:vm.listXpath,saleXpath:vm.saleXpath},
                        url:"/getResult",
                        success: function(data){
                            if(data.code == 1){
                                win.alert("",data.message);
                            } else {
                                $("#table1").attr("hidden", "hidden");
                                $("#table2").removeAttr("hidden");
                                vm.datalist1 = data.object;
                            }
                        }
                    });
                }
            })
    </script>

    <script>
        var m = avalon.define({
          $id:'app',
          choices:[],
          markets:['un-us','en-ua','de-de']
        })
    </script>
</head>

<body   ms-controller="result">
<!--<div class="container"><br/>-->
    <!--<div class="alert alert-success">-->
        <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>-->
        <!--Hello, <strong>tao!</strong>-->
    <!--</div>-->
<!--</div>-->
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h2 class="text-center text-success">
                Price Check Tool
            </h2>
            <!--<div class="progress">-->
                <!--<div class="progress-bar progress-success">-->
                <!--</div>-->
            <!--</div>-->
            <div class="btn-group">
                <button class="btn btn-default">Markets</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>
                        <!--<a href="#">Group1</a>-->
                        <button type="button" class="btn btn-primary" style="margin: 10px;" ms-click="@click1">Group1</button>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" style="margin: 10px;" ms-click="@click2">Group2</button>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary" style="margin: 10px;" ms-click="@click3">Group3</button>
                    </li>
                </ul>
            </div>
            <!--<div  >-->
            <!--<input ms-duplex="@market" type="checkbox"  id="4" class="awesome" value="us"/><label for="4">eb-us</label>-->
            <!--<input ms-duplex="@market" type="checkbox"  id="5" class="awesome" /><label for="5">en-ua</label>-->
            <!--<input ms-duplex="@market" type="checkbox"  id="6" class="awesome" /><label for="6">en-au</label>-->
            <!--<p>{{@market}}</p>-->
            <!--</div>-->
            <div id="group1" hidden="hidden" class="col-md-12 column">
                <div>
                    <label ms-for="el in @markets1">
                        <input type="checkbox" ms-attr="{value:el}" ms-duplex="@market"> {{el}}
                    </label>
                </div>
                <br>
            </div>
            <div id="group2" hidden="hidden" class="col-md-12 column">
                <div>
                    <label ms-for="el in @markets2">
                        <input type="checkbox" ms-attr="{value:el}" ms-duplex="@market"> {{el}}
                    </label>
                </div>
                <br>
            </div>
            <div id="group3" hidden="hidden" class="col-md-12 column">
                <div>
                    <label ms-for="el in @markets3">
                        <input type="checkbox" ms-attr="{value:el}" ms-duplex="@market"> {{el}}
                    </label>
                </div>
                <br>
            </div>
            <div ms-controller="viewmodel">
                <form role="form" class="form-inline">
                    <div>
                        <label>product name&nbsp;</label>
                        <input ms-duplex="@name" type="text"  class="form-control" style="width: 425px"/>
                        <button type="button" class="btn btn-primary" style="margin: 10px;" ms-click="@request">{{@text}}</button>
                    </div>
                    <div>
                        <label>url address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input ms-duplex="@url"    type="url" class="form-control"  style="width: 425px"/>
                        <!--<button type="button" class="btn btn-primary" style="margin: 10px;" ms-click="@result">{{@resultButton}}</button>-->
                    </div>
                    <div>
                        <label>saleXpath&nbsp;</label>
                        <input ms-duplex="@saleXpath"    type="url" class="form-control"  style="width: 750px"/>
                    </div>
                    <div>
                        <label>listXpath&nbsp;&nbsp;</label>
                        <input ms-duplex="@listXpath"    type="url" class="form-control"  style="width: 750px"/>
                        <button type="button" class="btn btn-success" style="margin: 10px;" ms-click="@result">{{@resultButton}}</button>
                    </div>
                    <div>
                        <h2 style="color:red" hidden="hidden" id="h3">pfId:{{@pfId}}   market：{{@market}}</h2>
                    </div>
                </form>

                <table class="table table-striped" id="table1" hidden="hidden">
                    <thead>
                    <tr>
                        <td class="danger"><font size="3"><strong>pfId</strong></font></td>
                        <td class="info"><font size="3"><strong>name</strong></font></td>
                        <td class="info"><font size="3"><strong>description1</strong></font></td>
                        <td class="info"><font size="3"><strong>description2</strong></font></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-for="el in @datalist" ms-click="@trClick(el)">
                        <td class="danger">{{el.pfId}}</td>
                        <td class="info">{{el.name}}</td>
                        <td class="info">{{el.description1}}</td>
                        <td class="info">{{el.description2}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <!--<ul class="pagination">-->
                <!--<li>-->
                    <!--<a href="#">Prev</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">1</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">2</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">3</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">4</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">5</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">Next</a>-->
                <!--</li>-->
            <!--</ul>-->
            <form role="form" class="form-inline">
                <div class="col-md-12 column">
                    <table class="table table-striped" id="table2" hidden="hidden">
                        <thead>
                        <tr>
                            <td class="danger"><font size="3"><strong>Fail market</strong></font></td>
                            <td class="danger"><font size="3"><strong>pageSalePrice</strong></font></td>
                            <td class="danger"><font size="3"><strong>sqlSalePrice</strong></font></td>
                            <td class="danger"><font size="3"><strong>pageListPrice</strong></font></td>
                            <td class="danger"><font size="3"><strong>sqlListPrice</strong></font></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ms-for="el in @datalist1">
                            <td class="danger">{{el.market}}</td>
                            <td class="danger">{{el.pageSalePrice}}</td>
                            <td class="danger">{{el.sqlSalePrice}}</td>
                            <td class="danger">{{el.pageListPrice}}</td>
                            <td class="danger">{{el.sqlListPrice}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </form>


            <blockquote>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                </p> <small>Someone famous <cite>Source Title</cite></small>
            </blockquote>
            <h4 class="text-center">
                <small><cite>Please contact the administrator if you have any questions</cite></small>
            </h4>
            <h4 class="text-center">
                <small><cite>email:gtao@godaddy.com</cite></small>
            </h4>
            <h4 class="text-center">
                <small><cite>tao</cite></small>
            </h4>
        </div>
    </div>
</div>
</body>
</html>