<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script>
        function get(){
        alert(2314);
        alert($("#name").val());
            var name = $("#name").val();
            $.ajax({
                url:"/getProductInfo",
                type:"get",
                data:{name:name},
                success:function(data){
                    alert("成功");
                }
            });
        }

    </script>
</head>
<body>
<input type="text" name="product" id="name"/>
<button onclick="get()">按钮</button>
</body>
</html>